.form {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--main-gap-v) * -1);
	& > * {
		margin: var(--main-gap-v);
	}
	&__input {
		flex: 1 1 45.9%;
		border: 3px solid var(--dark-color);
		padding: 15px;
		font: inherit;
		color: inherit;

	}

	&__textarea {
		flex: 1 1 100%;
		resize: none;
		height: 150px;
	}

	&__button {
		padding-left: 30px;
		padding-right: 30px;

		@media (max-width: 500px) {
			flex: 1 1 100%;
		}
	}
}